body {

font-family: Arial, sans-serif;

}
body {

max-width: 1000px;

margin: 40px;

}
h1 {

    color: rgb(3, 3, 3);
    font-size: 50px;

}
header {

    text-align: center;

}
nav ul {

    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;

}
